
  


.nome {
color: #49947D;
font-size: 3rem;
margin-left: 280px;
margin-right: 200px;
}
.local{
color: #826A6A;
font-size: 2 rem;
margin-left: 280px;
margin-right: 200px;
}
.icon{
  width: 20px;
  height: 20px;
  display: flex;
  position: relative;
  margin-left: 450px;
  top: -45px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 1400px;
  width: 1380px;
  
}
.foto{
  display: block;
  max-width: 100%;
  margin-left: 285px;
  margin-right: 185px;
  border-radius: 4px;
  width: 300px;
  height: auto;
  padding-top: 50px;
  
}
.text{
  font-size: 2rem;
  color: #315B4F;
  width: 480px;
 margin-left: 180px;
}
.enf{
  color: #826A6A;
}

.divisao{
  background: #315B4F;
  width: 900px;
  height: 6px;
  margin-left: 240px;
  margin-top: 50px;
}


@media(max-width:500px) {
  .nome {
    
    font-size: 1.5rem;
    margin-left: 100px;
    flex-wrap: wrap;
  }
    .local{
   
    font-size: 0.75rem;
    margin-left: 100px;
    
    }
    .icon{
     
      margin-left: 180px;
      padding-top: 16px;
      width: 15px;
      height: 15px;
    }
    
    .grid{
      
      grid-template-columns: 1fr;
     
      
    }
    .foto{
      
      width: 200px;
      height: 200px;
      padding-top: 20px;
      justify-items: center;
      margin-left: 150px;
      
    }
    .text{
      font-size: 1rem;
      width: 200px;
      margin-left: 150px;
     
    }
    .divisao{
 
  width: 500px;
  margin-left: 0px;
}
    
}